.certification__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 0% 10%;
  padding-bottom: 5%;
}

.certifications-tech__container > a > img {
  width: 100%;
  border-radius: 1rem;
  transition: 200ms;

}

.certifications-tech__container > a > img:hover {
  transform: scale(1.05);
  border: 3px solid var(--highlight-color);

}


@media screen and (min-width: 1200px) {
  .certification__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
    padding: 0% 10%;
  }

  .certifications-tech__container > a > img {
    width: 100%;
    border-radius: 1rem;
    transition: 200ms;

  }

  .certifications-tech__container > a > img:hover {
    transform: scale(1.05);
    border: 3px solid var(--highlight-color);

  }
}
