<div class="who-am-i__container">
  <div class="who-am-i-title__container">
    <h1>Quem sou eu?</h1>
  </div>

  <div class="who-am-i-description__container">
    <p>
      Olá! Meu nome é Lucas Luis, tenho 18 anos e sou estudante de Sistemas de Informação na UFPE. Desde 2022, venho mergulhando no mundo da programação e me apaixonei pela tecnologia e programação.
    </p>
  </div>

  <div class="who-am-i-description__container">
    <p>
      Sou um profissional apaixonado pela programação e tecnologia, com mente criativa. Trabalho bem em equipe e possuo excelentes habilidades em desenvolvimento web. Comprometido em criar soluções inovadoras que impactem positivamente os usuários. Ansioso para compartilhar meu trabalho e inspirar outros no mundo digital.
    </p>
  </div>
</div>
