.who-am-i__container {
  display: flex;
  flex-direction: column;
  padding: 0% 10%;
  padding-bottom: 5%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

.who-am-i-title__container {
  font-size: 2rem;
  color: var(--main-text-color);
  width: 100%;

}

.who-am-i-description__container {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  width: 100%;
  color: var(--secondary-text-color);
  line-height: 3.5rem;

}

@media screen and (min-width: 1200px) {
  .who-am-i__container {
    display: flex;
    flex-direction: row;
    padding: 0% 10%;
    padding-bottom: 5%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
  }

  .who-am-i-title__container {
    font-size: 3rem;
    color: var(--main-text-color);
    width: 40%;

  }

  .who-am-i-description__container {
    display: flex;
    align-items: flex-end;
    font-size: 1.6rem;
    width: 30%;
    color: var(--secondary-text-color);
    line-height: 3.5rem;

  }
}
