<div class="who-i-am__container">
    <div class="who-i-am-title">
        <p>Mas vamos lá</p>
        <h2>Quem Sou Eu?</h2>
    </div>

    <div class="who-i-am-paragraph">
        <p>Olá! Meu nome é Lucas Luis, tenho 20 anos e sou estudante de Sistemas de Informação na UFPE. Desde 2022, venho mergulhando no mundo da programação e me apaixonei pela tecnologia e programação.</p>
    </div>

    <div class="who-i-am-paragraph">
        <p>Sou um entusiasta da programação e tecnologia, com mente criativa. Trabalho bem em equipe e possuo excelentes habilidades em desenvolvimento web. Comprometido em criar soluções inovadoras que impactem positivamente os usuários. Ansioso para compartilhar meu trabalho e inspirar outros no mundo digital</p>
    </div>
</div>
