.button__container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 2rem;

}

.button__container > a {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 3.0rem;
  text-decoration: none;
  color: white;
  border: 0.3rem solid var(--highlight-color);
  background-color: var(--highlight-color);
  border-radius: 3.0rem;

  font-size: 1.7rem;
  font-weight: 700;

  transition: 200ms
}

.button__container > a:hover {

  transform: scale(1.05);
}

.button__container > a > svg {
  width: 3rem;
  fill: white;
}



@media screen and (min-width: 768px) {
  .button__container {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 3.5rem;

  }

  .button__container > a {
    padding: 1.3rem 4.0rem;
    text-decoration: none;
    color: var(--main-text-color);

    border: 0.3rem solid var(--highlight-color);
    border-radius: 3.0rem;

    font-size: 1.9rem;

    transition: 200ms
  }




  .button__container > a:hover {

    border: 0.3rem solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
    transform: scale(1.05);

  }

  .button__container > a > svg {
    width: 3rem;
    fill: black;
  }

  .button__container > a:hover > svg {
    fill: white;
  }
}
