.skills__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0% 10%;
  padding-top: 7%;
  gap: 4rem;
}

.skills-title__container > h1 {
  font-size: 3rem;
  color: var(--main-text-color);
}

.skills-tech__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 5rem;
}

.skills-tech__container > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 5rem;
  width: 100%;
}

.skill__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.skill-title__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: var(--main-text-color);
}

.skill-title__container > img {
  width: 5rem;
}

.skill-title__container > h3{
  font-size: 2.5rem;
}

.skill-description__container > p {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 3.5rem;
}

.see-my-projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: white;
  gap: 3rem;
  padding: 3rem;

  background-color: var(--highlight-color);
  border-radius: 0.6rem;
}

.see-my-projects__container > h2 {
  font-size: 2.5rem;
}

.see-my-projects__container > p {
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 500;
}

.see-my-projects__container > a {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 3rem;
  text-decoration: none;
  border: 0.3rem solid white;
  border-radius: 3.0rem;
  color: var(--highlight-color);
  background: white;
  font-size: 1.8rem;
  font-weight: 700;
  transition: 200ms
}

.see-my-projects__container > a:hover {
  transform: scale(1.05);
}


@media screen and (min-width: 768px) {
  .skills-tech__container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .see-my-projects__container {
    padding: 5rem;
  }
}


@media screen and (min-width: 1200px) {
  .skills__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 10%;
    padding-top: 7%;
    gap: 4rem;
  }
  
  .skills-title__container > h1 {
    font-size: 5rem;
    color: var(--main-text-color);
  }
  
  .skills-tech__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    width: 100%;
    gap: 5rem;
  }
  
  .skills-tech__container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 5rem;
    width: 100%;
  }
  
  .skill__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  
  .skill-title__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    color: var(--main-text-color);
  }
  
  .skill-title__container > img {
    width: 5rem;
  }
  
  .skill-title__container > h3{
    font-size: 2.5rem;
  }
  
  .skill-description__container > p {
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.5rem;
  }
  
  .see-my-projects__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: white;
  
    gap: 3rem;
  
    padding: 5rem;
  
    background-color: var(--highlight-color);
    border-radius: 0.6rem;
  }
  
  .see-my-projects__container > h2 {
    font-size: 2.5rem;
  }
  
  .see-my-projects__container > p {
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 500;
  }
  
  .see-my-projects__container > a {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem 3rem;
    text-decoration: none;
  
  
    border: 0.3rem solid white;
    border-radius: 3.0rem;
    color: var(--highlight-color);
    background: white;
    font-size: 1.8rem;
    font-weight: 700;
  
    transition: 200ms
  }
}


@media screen and (min-width: 1500px) {
  .skills__container {
    padding-top: 2%;
  }

  .skills-tech__container {
    flex-direction: row;
    gap: 10rem;
  }

  .skills-tech__container > ul {
    width: 50%;
  }

  .skill-description__container > p {
    font-size: 1.6rem;
  }

  .see-my-projects__container {
    width: 50%;
    gap: 5rem;
    padding: 10rem;
  }


  .see-my-projects__container > p {
    font-size: 1.6rem;
  }

  .see-my-projects__container > a {
    padding: 1.5rem 4rem;
  }

}
