<div class="skills__container">
    <div class="skills-title">
        <p>Fique por dentro das</p>
        <h2>Minhas Habilidades</h2>
    </div>

    <ul class="skills-list">

        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/binary_10856801.png" alt="">
            <h3 class="skills-list-item-title">Programação</h3>
        </li>
        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/idea_6840572.png" alt="">
            <h3 class="skills-list-item-title">Resolução de Problemas</h3>
        </li>
        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/brain_3749919.png" alt="">
            <h3 class="skills-list-item-title">Criatividade</h3>
        </li>
        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/teamwork_3131489.png" alt="">
            <h3 class="skills-list-item-title">Trabalho em Equipe</h3>
        </li>
    </ul>
   
</div>