@import "../../../../../scss/base/animations";
@import "../../../../../scss/abstracts/variables";
@import "../../../../../scss/abstracts/mixins";


.skills {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 2rem $padding-sides;
        gap: 3rem;
        opacity: 0;

        &.animar {
            animation: moveInUp 1s ease-in-out;
            opacity: 1;
        }
    }

    &-title {
        & p {
            @include paragraph;        
        }

        & h2 {
            @include title;
        }
    }

    &-list {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3rem;
        position: relative;

       
        &-item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            padding: 4rem 0;
            border-radius: 2rem;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
            background: $color-white;
            transition: 200ms;
            color: rgb(45, 45, 45);

        
            &:nth-child(1) {
                background-color: #6CFF5A;

                &:hover {
                    transform: translateX(12px) translateY(-12px);
                    box-shadow: rgba(108, 255, 90, 0.4) -5px 5px, rgba(108, 255, 90, 0.3) -10px 10px, rgba(108, 255, 90, 0.2) -15px 15px, rgba(108, 255, 90, 0.1) -20px 20px, rgba(108, 255, 90, 0.05) -25px 25px;
                    
                }
            }

            &:nth-child(2) {
                background-color: #59B8FF;

                &:hover {
                    transform: translateX(12px) translateY(-12px);
                    box-shadow: rgba(89, 184, 255, 0.4) -5px 5px, rgba(89, 184, 255, 0.3) -10px 10px, rgba(89, 184, 255, 0.2) -15px 15px, rgba(89, 184, 255, 0.1) -20px 20px, rgba(89, 184, 255, 0.05) -25px 25px;
                    
                }
                
            }

            &:nth-child(3) {
                background-color: #FFF059;

                &:hover {
                    transform: translateX(12px) translateY(-12px);
                    box-shadow: rgba(255, 240, 89, 0.4) -5px 5px, rgba(255, 240, 89, 0.3) -10px 10px, rgba(255, 240, 89, 0.2) -15px 15px, rgba(255, 240, 89, 0.1) -20px 20px, rgba(255, 240, 89, 0.05) -25px 25px;
                    
                }
            }

            &:nth-child(4) {
                background-color: #FF9F5A;

                &:hover {
                    transform: translateX(12px) translateY(-12px);
                    box-shadow: rgba(255, 159, 90, 0.4) -5px 5px, rgba(255, 159, 90, 0.3) -10px 10px, rgba(255, 159, 90, 0.2) -15px 15px, rgba(255, 159, 90, 0.1) -20px 20px, rgba(255, 159, 90, 0.05) -25px 25px;
                    
                }

                
            }
            
            &-icon {
                width: 12rem;
            }
        }
    }

    @media screen and (max-width: 480px) {
        &-list {
            grid-template-columns: 1fr;
            gap: 2rem;
        }
    }

}