<div class="skills__container">

  <div class="skills-title__container">
    <h1>Minhas Habilidades</h1>
  </div>

  <div class="skills-informations__container">
    <div class="skills-tech__container">

      <ul>
        <li class="skill__container">
          <div class="skill-title__container">
            <img src="../../../../../assets/images/codigo.png" alt="">
            <h3>Programação</h3>
          </div>

          <div class="skill-description__container">
            <p>A programação é a linguagem que permite a criação de softwares, aplicativos e websites. É uma habilidade valiosa e versátil, impulsionando a inovação tecnológica em diversos setores.</p>
          </div>

        </li>
        <li class="skill__container">
          <div class="skill-title__container">
            <img src="../../../../../assets/images/solucao.png" alt="">
            <h3>Resolução de Problemas</h3>
          </div>

          <div class="skill-description__container">
            <p>A resolução de problemas é uma habilidade crítica em todas as esferas da vida. Envolve a capacidade de identificar, analisar e encontrar soluções efetivas para desafios e obstáculos que surgem no caminho.</p>
          </div>

        </li>
        <li class="skill__container">
          <div class="skill-title__container">
            <img src="../../../../../assets/images/acessibilidade.png" alt="">
            <h3>Acessibilidade</h3>
          </div>

          <div class="skill-description__container">
            <p>Acessibilidade é a prática de tornar produtos, serviços e ambientes acessíveis a todas as pessoas, independentemente de suas habilidades físicas ou cognitivas.</p>
          </div>

        </li>
        <li class="skill__container">
          <div class="skill-title__container">
            <img src="../../../../../assets/images/trabalho-em-equipe.png" alt="">
            <h3>Colaboração e trabalho em equipe</h3>
          </div>

          <div class="skill-description__container">
            <p>O trabalho em equipe é fundamental para o sucesso em muitos projetos e ambientes profissionais. Colaborar efetivamente, compartilhar ideias e habilidades são elementos-chave para alcançar metas comuns e alcançar resultados positivos.</p>
          </div>

        </li>

      </ul>

      <div class="see-my-projects__container">
        <h2>Descubra Meus Projetos Criativos!</h2>

        <p>
          Em meu portfólio, você encontrará uma variedade de sites e aplicativos impressionantes, todos com uma abordagem única e visualmente atraente. Cada projeto é resultado de horas de trabalho árduo e criatividade, e agora estou empolgado em compartilhá-los com você!
        </p>
        <p>
          A melhor parte é que você pode explorar e até mesmo baixar todo o código fonte desses projetos.
        </p>

        <a [routerLink]="['/projects']" > Ver Projetos</a>
      </div>
    </div>


  </div>





