<div class="skills__container">
    <div class="skills-title">
        <p>Fique por dentro das</p>
        <h2>Minhas Habilidades</h2>
    </div>

    <ul class="skills-list">

        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/pc.svg" alt="">
            <h3 class="skills-list-item-title">Programação</h3>
        </li>
        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/alvo.svg" alt="">
            <h3 class="skills-list-item-title">Resolução de Problemas</h3>
        </li>
        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/lampada.svg" alt="">
            <h3 class="skills-list-item-title">Criatividade</h3>
        </li>
        <li class="skills-list-item">
            <img class="skills-list-item-icon" src="../../../../../assets/images/equipe.svg" alt="">
            <h3 class="skills-list-item-title">Trabalho em Equipe</h3>
        </li>
    </ul>
   
</div>