

.title-project__container {
  margin-bottom: 40px;
}

.card-projects__container {
  margin-bottom: 17rem;
  padding-left: 10%;
  padding-right: 10%;
}

.contact__container {
  margin-bottom: 5rem;
}
