

.title-project__container {
  margin-bottom: 4rem;
}

.card-projects__container {
  margin-bottom: 10rem;
  padding-left: 10%;
  padding-right: 10%;
}

.contact__container {
  margin-bottom: 5rem;
}

@media screen and (max-width: 42rem) {
  .card-projects__container {
    margin-bottom: 7rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}
