<div class="about__container">
  <p>
    Olá! Meu nome é Lucas Luis, tenho 18 anos e sou estudante de Sistemas de Informação na UFPE. Desde 2022, venho mergulhando no mundo da programação e me apaixonei pela tecnologia e programação.
  </p>

  <p>
    Minhas habilidades sólidas estão em linguagens como Python, Java e JavaScript, além de frameworks como Django, Flask e Angular. Também tenho experiência em desenvolvimento front-end, utilizando HTML, CSS e Tailwind CSS, o que me permite criar interfaces atraentes e responsivas.
  </p>
  <p>
    Estou sempre em busca de aprimoramento e, no momento, estou focado em expandir meus conhecimentos em React e Vue.js, pois acredito que esses frameworks são essenciais para o desenvolvimento de aplicações web modernas e interativas.
  </p>

  <p>
    Embora eu ainda não possua experiência profissional, estou sempre buscando oportunidades para aprender e crescer na área. Tenho trabalhado em projetos pessoais para aprimorar minhas habilidades de desenvolvimento e também participo ativamente de eventos e workshops relacionados à tecnologia.
  </p>

  <p>
    Durante minha jornada acadêmica, tenho a oportunidade de desenvolver habilidades de trabalho em equipe, comunicação e gerenciamento de projetos, que certamente serão valiosas para o ambiente de trabalho no futuro. Estou entusiasmado para continuar crescendo como desenvolvedor de software e contribuir para projetos desafiadores.
  </p>

  <p>
    Além disso, possuo habilidades básicas a intermediárias em inglês, o que me permite ler e compreender textos técnicos, além de participar de conversas básicas. Continuo me dedicando a aprimorar minhas habilidades de comunicação em inglês para melhorar minha interação com clientes e colegas de trabalho.
  </p>

  <p>Além disso, possuo habilidades básicas a intermediárias em inglês, o que me permite ler e compreender textos técnicos, além de participar de conversas básicas. Continuo me dedicando a aprimorar minhas habilidades de comunicação em inglês para melhorar minha interação com clientes e colegas de trabalho.</p>

  <p>Estou aberto a oportunidades de estágio ou projetos freelancer que me permitam aplicar meus conhecimentos e adquirir experiência prática.
    <br>
    Se você procura um desenvolvedor dedicado e apaixonado por tecnologia, estou à disposição para colaborar!</p>
</div>
