main {
  display: flex;
  flex-direction: column;

  padding: 5%;


  min-height: 100vh;
  max-width: 100vw;
  
  justify-content: center;
  align-items: flex-start;

  gap: 2rem;
}



.card-project-details__conatiner {
  display: flex;
  flex-direction: column;

  padding: 2rem;

  padding-top: 5%;
  padding-bottom: 5%;

  align-items: center;
  justify-content: center;

  background-color: #ffffff0a;

  gap: 1.5rem;

  box-shadow: -16px 10px 15px -3px rgba(0, 0, 0, 0.205);

  border: 3px solid #ffffff0c;
  border-radius: 10px;
}

.card-project-photo__container > img {
  width: 100%;
  border-radius: 1.5rem;
}

.card-project-description__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-project-description-title__container > h1 {
  color: var(--cor_texto_principal);
  font-weight: 700;
  font-size: 3rem;
}

.card-project-description-description__container > p {
  color: var(--cor_texto_secundario);
  font-weight: 500;
  font-size: 1.5rem;
  
}

.card-project-techs__container > ul {
  display: flex;
  justify-content: flex-start;

  list-style: none;

  gap: 10px;
}

.card-project-techs__container > ul > li > img {
  width: 4.5rem;
}

.card-project-description-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 
}




@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  
    padding-left: 10%;
    padding-right: 10%;
  
  }
  
  
  .card-project-photo__container > img {
    width: 100%;
    border-radius: 1.5rem;
  }
  
  .card-project-description__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .card-project-description-title__container > h1 {
    color: var(--cor_texto_principal);
    font-weight: 700;
    font-size: 3.5rem;
  }
  
  .card-project-description-description__container > p {
    color: var(--cor_texto_secundario);
    font-weight: 500;
    font-size: 1.8rem;
    
  }
  
  .card-project-description-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.5rem;
   
  }
  
} 



@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
  
    padding-left: 10%;
    padding-right: 10%;
   
  
    width: 100%;
    min-height: 100vh;

    justify-content: center;
    align-items: flex-start;
  
    gap: 2rem;
  }
  
  .card-project-details__conatiner {
    display: grid;
    grid-template-columns: .8fr 1fr;
  
    padding: 2rem;
    
    width: 100%;
    height: 55%;
    
  
    align-items: center;
    justify-content: center;
  
    background-color: #ffffff0a;
  
    gap: 3rem;
  
    box-shadow: -16px 10px 15px -3px rgba(0, 0, 0, 0.205);
  
    border: 3px solid #ffffff0c;
    border-radius: 10px;
  }

  .card-project-techs__container > ul {
    display: flex;
    justify-content: flex-start;
  
    list-style: none;
  
    gap: 10px;
  }
  
  .card-project-techs__container > ul > li > img {
    width: 5rem;
  }
  
  .card-project-photo__container > img {
    width: 100%;
    border-radius: 1.5rem;
  }
  
  .card-project-description__container {
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }
  
  .card-project-description-title__container > h1 {
    color: var(--cor_texto_principal);
    font-weight: 700;
    font-size: 4rem;
  }
  
  .card-project-description-description__container > p {
    color: var(--cor_texto_secundario);
    font-weight: 500;
    font-size: 1.8rem;
    
  }
  
  .card-project-description-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   
  }
  
  
} 


@media screen and (min-width: 1500px) {
  main {
    display: flex;
    flex-direction: column;
  
    padding-left: 10%;
    padding-right: 10%;
   
  
    width: 100%;
    height: 100vh;

    justify-content: center;
    align-items: flex-start;
  
    gap: 2rem;
  }
  
  .card-project-details__conatiner {
    display: grid;
    grid-template-columns: .8fr 1fr;
  
    padding: 2rem;
    
    width: 100%;
    height: 55%;
    
  
    align-items: center;
    justify-content: center;
  
    background-color: #ffffff0a;
  
    gap: 3rem;
  
    box-shadow: -16px 10px 15px -3px rgba(0, 0, 0, 0.205);
  
    border: 3px solid #ffffff0c;
    border-radius: 10px;
  }

  .card-project-techs__container > ul {
    display: flex;
    justify-content: flex-start;
  
    list-style: none;
  
    gap: 10px;
  }
  
  .card-project-techs__container > ul > li > img {
    width: 7rem;
  }
  
  .card-project-photo__container > img {
    width: 100%;
    border-radius: 1.5rem;
  }
  
  .card-project-description__container {
    display: flex;
    flex-direction: column;

    gap: 2rem;
  }
  
  .card-project-description-title__container > h1 {
    color: var(--cor_texto_principal);
    font-weight: 700;
    font-size: 5rem;
  }
  
  .card-project-description-description__container > p {
    color: var(--cor_texto_secundario);
    font-weight: 500;
    font-size: 2rem;
    
  }
  
  .card-project-description-links{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   
  }
  
  
} 