main {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  height: 100vh;
  justify-content: center;
  align-items: start;

  gap: 2rem;
}

.card-project-details__conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 80%;

  padding: 3.2rem;


  align-items: center;
  justify-content: center;

  background-color: #ffffff0a;

  gap: 4rem;

  box-shadow: -16px 10px 15px -3px rgba(0, 0, 0, 0.205);

  border: 3px solid #ffffff0c;
  border-radius: 10px;
}

.card-project-photo__container > img {
  width: 80rem;
  border-radius: 1.5rem;
}

.card-project-description__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-project-description-title__container > h1 {
  color: white;
  font-weight: 700;
  font-size: 4.5rem;
}

.card-project-description-description__container > p {
  color: #919191;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-project-description-links{
  display: flex;
  gap: 2rem;
}

.card-project-description-links > a {
  padding: 1.2rem 4.0rem;
  text-decoration: none;
  color: white;
  background: #333333;
  border: 0.3rem solid #D5D5D5;
  border-radius: 3.0rem;

  font-size: 1.7rem;

  transition: 200ms
}

.card-project-description-links > a:hover {

  border: 0.3rem solid #007CED;

}
