<main>
  <div class="arrow__container">
    <app-arrow></app-arrow>
  </div>
  
  <div class="card-project-details__conatiner">

    <div class="card-project-description__container">
      <div class="card-project-description-title__container">
        <h1>{{projectTitle}}</h1>
      </div>

      <div class="card-project-description-description__container">
        <p>{{ projectDescription }}</p>
      </div>

      <div class="card-project-techs__container">
        <ul>
          <li *ngFor="let tech of techList">
           
              <img  *ngIf="tech == 'tailwindcss' || tech == 'angularjs' || tech == 'django'"   src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ tech }}/{{ tech }}-plain.svg" alt="">
              <img *ngIf="tech != 'tailwindcss' && tech != 'angularjs' && tech != 'django'" [class.removeTech]="tech == 'tailwindcss' || tech == 'angularjs' || tech == 'django'" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ tech }}/{{ tech }}-original.svg" alt="">
          </li>
        </ul>
      </div>

      <div class="card-project-description-links">
        <app-button [newTab]="true" *ngIf="projectWebsite.length != 0" link="{{projectWebsite}}"  content="Website"></app-button>
       
        <app-button [newTab]="true" link="{{projectGithub}}" content="Repositório"></app-button>
       
      </div>


    </div>

    <div class="card-project-photo__container">
      <img src="{{photoProject}}" alt="">
    </div>
  </div>
</main>

