<div class="profile__container">

  <figure class="photo-profile__container">
    <img src="https://cdn.discordapp.com/attachments/965066624556232737/1113878594561781770/profile-pic_28.png" alt="">
  </figure>

  <div class="about-me-profile__container">

    <h3>Web Developer</h3>

    <h1>
      Lucas Luis
    </h1>

    <ul>
      <li>💻 Desenvolvo Aplicações Web</li>
      <li>🎓 Graduando em Sistemas de Informação UFPE</li>
      <li>💡 Interesse em Desenvolvimento Web</li>
      <li>🚀 Buscando novas Oportunidades de Estágio</li>
    </ul>

    <div class="about-me-profile-buttons__container">
      <a href="">Currilo PDF</a>
     
    </div>

  </div>

</div>
