.profile__container {
  display: flex;
  flex-direction: column;

  width: 100%; 
  padding: 2% 10%;

  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.profile-informations__container {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 2rem;

  justify-content: center;
  align-items: center;
}

.photo-profile__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33rem;
  height: 33em;
  border-radius: 50%;
  background-color: #444444;

  border: 1px solid #000000;
  box-shadow: 0rem 0rem 5.0rem rgba(0, 0, 0, 0.8);
}

.photo-profile__container > img {
  width: 30rem;
  height: fit-content;
  border-radius: 50%;
}

.about-me-profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--cor_texto_principal);
}

.about-me-profile__container > h3 {
  color: var(--cor_texto_secundario);
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

.about-me-profile__container > h1 {
  font-weight: 700;
  font-size: 5.5rem;
  text-align: center;
  margin-top: -1rem;
}

.about-me-profile__container > ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  list-style: none;
  color: var(--cor_texto_secundario);
  font-size: 1.65rem;
  text-align: center;
}

.stacks__container {
  display: flex;
  justify-content: center;
  width: 100%;

}


@media screen and (min-width:1024px) {


  .profile__container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
  
    width: 100%;
    height: 100vh;
    padding: 10%;

    gap: 15%;
    
  }

  .profile-informations__container {
    display: flex;
    flex-direction: row;
  
    width: 100%;
    height: 50vh;

    gap: 6rem;
  
    justify-content: center;
    align-items: center;
  }
  
  .photo-profile__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41rem;
    height: 41em;
    border-radius: 50%;
    background-color: #444444;
  
    border: 1px solid #000000;
    box-shadow: 0rem 0rem 5.0rem rgba(0, 0, 0, 0.8);
  }
  
  .photo-profile__container > img {
    width: 38rem;
    height: fit-content;
    border-radius: 50%;
  }
  
  .about-me-profile__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--cor_texto_principal);
  }
  
  .about-me-profile__container > h3 {
    color: var(--cor_texto_secundario);
    font-weight: 500;
    font-size: 3.5rem;
    text-align: center;
  }
  
  .about-me-profile__container > h1 {
    font-weight: 700;
    font-size: 6.5rem;
    text-align: center;
    margin-top: -1rem;
  }
  
  .about-me-profile__container > ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    list-style: none;
    color: var(--cor_texto_secundario);
    font-size: 2rem;
    text-align: left;
  }

  .stacks__container {
    display: flex;
    justify-content: center;
    width: 100%;

  }
} 



@media screen and (min-width:1500px) {


  .profile__container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 100vh;
    padding: 0% 10%;

    gap: 12%;
    
  }

  .profile-informations__container {
    display: flex;
    flex-direction: row;
  
    width: 100%;
    height: 50vh;

    gap: 6rem;
  
    justify-content: center;
    align-items: center;
  }
  
  .photo-profile__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48rem;
    height: 48em;
    border-radius: 50%;
    background-color: #444444;
  
    border: 1px solid #000000;
    box-shadow: 0rem 0rem 5.0rem rgba(0, 0, 0, 0.8);
  }
  
  .photo-profile__container > img {
    width: 45rem;
    height: fit-content;
    border-radius: 50%;
  }
  
  
} 

