.title__container {
    width: 100%;
}

.title__container > h2 {
    color: var(--cor_texto_principal);
    font-size: 4.5rem;
    text-align: center;

    margin-bottom: 3rem;
}

@media screen and (min-width: 1024px) {
    .title__container > h2 {
        text-align: left;
    }
}