.stacks__container {
  display: flex;
  width: 100%;

  padding-bottom: 5%;

  padding-left: 10%;
  padding-right: 10%;

  margin-top: -50px;

  justify-content: center;
}

.stacks-techs__container {
  display: flex;
  width: 100%;
  list-style: none;

  justify-content: space-between;
}

.stacks-techs__container > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;


}

.stacks-techs__container > li > svg {
  width: 7.5rem;
  fill: #919191;
  transition: 250ms;

}


.stacks-techs__container > li > svg:hover {
  fill: #007CED;
}


.stacks-techs__container > li > p {

  opacity: 0;
  margin-top: -1rem;
  color: white;
  background-color: rgba(128, 128, 128, 0.603);

  font-size: 1.2rem;

  padding: 0.5rem;
  border-radius: 0.5rem;

  transition: 200ms
}


.stacks-techs__container > li:hover > p{
  opacity: 1;
  transform: translateY(1rem);
}


@media screen and (max-width:42rem) {
  .stacks__container {
    display: flex;
    width: 100%;

    padding-bottom: 12%;

    margin-top: -4rem;
    justify-content: center;
  }

  .stacks-techs__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;

    gap: 0.2rem;

    justify-content: space-evenly;

  }

  .stacks-techs__container > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;


  }

  .stacks-techs__container > li > svg {
    width: 5rem;
    fill: #919191;
    transition: 250ms;

  }


  .stacks-techs__container > li > svg:hover {
    fill: #007CED;
  }


  .stacks-techs__container > li > p {

    opacity: 0;
    margin-top: -1rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.603);

    font-size: 1.2rem;

    padding: 0.5rem;
    border-radius: 0.5rem;

    transition: 200ms
  }


  .stacks-techs__container > li:hover > p{
    opacity: 1;
    transform: translateY(1rem);
  }

}


/* TABLET */

@media screen and (min-width:43rem) and (max-width: 90rem) {
  .stacks__container {
    display: flex;
    width: 100%;

    padding-bottom: 12%;

    margin-top: -4rem;
    justify-content: center;
  }

  .stacks-techs__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;

    gap: 0.2rem;

    justify-content: center;

  }


  .stacks-techs__container > li > svg {
    width: 8rem;
    fill: #919191;
    transition: 250ms;

  }

  .stacks-techs__container > li > p {

    opacity: 0;
    margin-top: -1rem;
    color: white;
    background-color: rgba(128, 128, 128, 0.603);

    font-size: 1.5rem;

    padding: 0.5rem;
    border-radius: 0.5rem;

    transition: 200ms
  }

}
