@import"../../../scss/abstracts/variables";
@import"../../../scss/abstracts/mixins";
@import"../../../scss/base/animations";

.contact {
    &__container {
        display: flex;
        padding: 12.8rem 0;
        opacity: 0;
        width: 100%;

        &.animar {
            animation: moveInUp 1s ease-in-out;
            opacity: 1;
        }
    }

    &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 8rem;
        border-radius: 4.8rem;
        background-color: rgba(20, 184, 166, 0.1);
        text-align: center;

        & h2 {
            font-size: 6.2rem;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.05em;
            color: $color-black;
            margin-bottom: 3.2rem;
        }

        & p {
            font-size: 1.8rem;
            line-height: 2.8rem;
            margin-bottom: 4.8rem;
            max-width: 51.2rem;
            color: $color-text-gray;
            text-align: center;
        }

        & .mail {
            text-decoration: none;
            font-size: 4.8rem;
            line-height: 1;
            font-weight: 500;
            color: $color-grey-dark;
            transition: all 250ms;

            &:hover {
                color: rgba(0, 0, 0, 0.788);
            }
        }

        & .others-links {
            display: flex;
            justify-content: center;
            margin-top: 6.4rem;
            gap: 3.2rem;

            & a {
                text-decoration: none;
                color: $color-grey-dark;

                &:hover {
                    color: rgba(0, 0, 0, 0.788);
                }
            }
        }
    }



    @media screen and (max-width:480px) {
        &__container {
            grid-template-columns: 1fr;
        }


    }
}