<div class="contact__container" id="contact">

  <div class="contact-box">
    <h2>Vamos falar sobre escala.</h2>

    <p>Busco liderança técnica ou contribuições como engenheiro sênior em produtos de alto impacto.</p>


    <a class="mail" href="mailto:lucasluisouza@gmail.com">lucasluisouza@gmail.com</a>

    <div class="others-links">
      <a href="https://github.com/LucasLuis-Dev">Github</a>
      <a href="https://www.linkedin.com/in/lucasluis-dev/">Linkedin</a>
    </div>
  </div>

  <!-- <ul class="contact-list">
    <li class="contact-list-text">
      <p>Ou se preferir podem entrar em contato comigo por meio de:</p>
    </li>
    <li class="contact-list-link">
      <a href="https://github.com/LucasLuis-Dev" target="_blank">
  

        Github

      </a>
    </li>
    <li class="contact-list-link">
      <a href="https://www.linkedin.com/in/lucasluis-dev/" target="_blank">
    
        Linkedin
      </a>
    </li>
    <li class="contact-list-link">
      <a href="mailto:lucasluisouza@gmail.com" target="_blank">
      
        Email
      </a>
    </li>
  </ul> -->

</div>