@import "../../../scss/base/animations";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.about {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem $padding-sides;
    }

    &-title {
        animation: moveInUp 1s ease-in-out;
        & p {
            @include paragraph;
        }

        & h2 {
            @include title;
        }
    }

    &-informations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-history {
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 2rem;
        }
    }

    
}