<div class="about__container">
    <div class="about-title">
        <p>Venha conhecer mais</p>
        <h2>Sobre mim</h2>
    </div>

    <div class="about-informations">

        <div class="about-informations-history">
            <div class="about-informations-history-timeline">
                <div class="about-informations-history-timeline-outer">
                  <div class="about-informations-history-timeline-outer-card ">
                    <div class="about-informations-history-timeline-outer-card-info normal-animation">
                      <h3 class="about-informations-history-timeline-outer-card-info-title">Meu Inicio na Programação</h3>
                      <span>2022</span>
                      <p>Meu primeiro contato com programação veio com a linguagem Python com os videos do youtube do canal Curso em Video, que me deixaram fascinado por esse universo e desde então eu venho buscando me aprofundar mais e mais nesse universo.</p>
                    </div>
                  </div>
                  <div class="about-informations-history-timeline-outer-card">
                    <div class="about-informations-history-timeline-outer-card-info normal-animation">
                      <h3 class="about-informations-history-timeline-outer-card-info-title">Ingresso na Universidade Federal de Pernambuco</h3>
                      <span>2022</span>
                      <p>Com muita alegria, ingressei na renomada Universidade Federal de Pernambuco para cursar Sistemas de Informação. Desde o primeiro dia de aula, mergulhei no universo do desenvolvimento de software, algoritmos e tecnologias inovadoras.</p>
                    </div>
                  </div>
                  <div class="about-informations-history-timeline-outer-card">
                    <div class="about-informations-history-timeline-outer-card-info">
                      <h3 class="about-informations-history-timeline-outer-card-info-title">Conquista do meu Segunda Lugar na OPEI 2022</h3>
                      <span>2022</span>
                      <p>Participar da Olimpíada Pernambucana de Informática (OPEI) na modalidade Senior foi uma experiência desafiadora e gratificante. Com determinação e muita dedicação, tive a honra de conquistar o segundo lugar na competição. Esse reconhecimento representou o resultado de inúmeras horas de estudo, resolução de problemas complexos de programação e muita dedicação.</p>
                    </div>
                  </div>
                  <div class="about-informations-history-timeline-outer-card">
                    <div class="about-informations-history-timeline-outer-card-info">
                      <h3 class="about-informations-history-timeline-outer-card-info-title">Fascínio pelo Desenvolvimento Web</h3>
                      <span>2023</span>
                      <p>Ao mergulhar no mundo do desenvolvimento web, descobri um universo em constante evolução, onde a criatividade e a tecnologia se unem para dar vida a projetos incríveis. Cada novo desafio me inspira a explorar as tendências mais recentes, aprender novas linguagens e frameworks, e me aprimorar constantemente.</p>
                    </div>
                  </div>
                  <div class="about-informations-history-timeline-outer-card">
                    <div class="about-informations-history-timeline-outer-card-info">
                      <h3 class="about-informations-history-timeline-outer-card-info-title">Conquista de Destaque no Conexão Tech 2023</h3>
                      <span>2023</span>
                      <p>A participação no evento nacional de tecnologia, Conexão Tech 2023, marcou um momento ímpar em minha carreira. Foi com orgulho e entusiasmo que recebi o reconhecimento como destaque, diante de uma audiência repleta de mentes brilhantes e inovadoras.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>


</div>
