@import "../../../scss/base/animations";
@import "../../../scss/abstracts/variables";
@import "../../../scss/abstracts/mixins";

.about {
    &-informations {
        &-history {
            &-timeline {
                margin: 2rem auto;
                padding: 2rem;

                &-outer {
                    &-card {
                        position: relative;
                        max-width: 100%;

                        &:nth-child(odd) {
                            padding: 3rem 0 3rem 3rem;
                        }

                        &:nth-child(even) {
                            padding: 3rem 3rem 3rem 0;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 50%;
                            border: solid $color-black;
                        }

                        &:nth-child(odd)::before {
                            left: 0;
                            top: -0.45rem;
                            bottom: -0.45rem;
                            border-width: 0.5rem 0 0.5rem 0.5rem;
                            border-radius: 5rem 0 0 5rem;
                        }

                        @media only screen and (max-width:400px) {
                            &:nth-child(odd)::before {
                                top: -0.5rem;
                                bottom: -0.5rem;
                            }
                        }

                        &:nth-child(even)::before {
                            right: 0;
                            top: 0;
                            bottom: 0;
                            border-width: 0.5rem 0.5rem 0.5rem 0;
                            border-radius: 0 5rem 5rem 0;
                        }

                        &:first-child::before {
                            border-top: 0;
                            border-top-left-radius: 0;
                        }

                        &:last-child:nth-child(odd)::before {
                            border-bottom: 0;
                            border-bottom-left-radius: 0;
                        }

                        &:last-child:nth-child(even)::before {
                            border-bottom: 0;
                            border-bottom-right-radius: 0;
                        }

                        &-info {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            background: $color-white;
                            color: $color-white;
                            border-radius: 2rem;
                            padding: 4rem;
                            opacity: 0;

                            &.normal-animation {
                                opacity: 1;
                                animation: moveInUp 1s ease-in-out;
                            }

                            &.animar {
                                opacity: 1;
                                animation: moveInUp 1s ease-in-out;
                            }

                            &-title {
                                color: $color-white;
                                font-weight: 600;
                                position: relative;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 1rem;
                                    height: 1rem;
                                    background: $color-white;
                                    border-radius: 99.9rem;
                                    border: 0.5rem solid $color-black;
                                }
                            }

                            p {
                                @include paragraph;
                                font-size: 1.6rem;
                                color: $color-white;
                            }

                            @media screen and (max-width:480px) {
                                p {
                                    @include paragraph;
                                    font-size: 1.5rem;
                                    color: $color-white;
                                }
                            }
                        }

                        &:nth-child(1) &-info {
                            background: #5cd24c;
                        }

                        &:nth-child(2) &-info {
                            background: #59B8FF;
                        }

                        &:nth-child(3) &-info {
                            background: #FF597D;
                        }

                        &:nth-child(4) &-info {
                            background: #FF9F5A;
                        }

                        &:nth-child(5) &-info {
                            background: #BA70E5;
                        }

                        &:nth-child(6) &-info {
                            background: #5cd24c;
                        }

                        &:nth-child(odd) &-info {
                            &-title::before {
                                left: -7.7rem;
                            }
                        }

                        &:nth-child(even) &-info {
                            &-title::before {
                                right: -7.7rem;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width:480px) {
                &-timeline {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}