@mixin button {
    cursor: pointer;

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem;
        text-align: center;
    }

    @media screen and (max-width:480px) {

        &:link,
        &:visited {
            padding: 1.5rem 3rem;
        }
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
    }

    &--transparent {
        background-color: transparent;
        color: $color-text-gray;
        font-weight: 600;
        border: 0.1rem solid $color-text-gray;

        &:hover {
            color: $color-white;
            border: 0.1rem solid $color-black;
            background-color: $color-black;
        }
    }

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

@mixin paragraph {
    color: $color-text-gray;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.5rem;
    text-align: justify;
}

@mixin title {
    color: $color-black;
    font-size: 3.5rem;
}