.certifications__container {
  display: flex;
  flex-direction: column;
}
.certifications-title__container > h1 {
  padding: 3% 10%;
  padding-top: 8rem;
  padding-bottom: 10%;
  font-size: 3.5rem;
  color: var(--main-text-color);
}


@media screen and (min-width: 768px) {
  .certifications__container {
    display: flex;
    flex-direction: column;
  }
  .certifications-title__container > h1 {
    padding: 3% 10%;
    padding-top: 10rem;
    padding-bottom: 5%;
    font-size: 3.5rem;
    color: var(--main-text-color);
  }
}


@media screen and (min-width: 1200px) {
  .certifications__container {
      display: flex;
      flex-direction: column;
  }
  .certifications-title__container > h1 {
      padding: 3% 10%;
      padding-top: 15rem;
      font-size: 4.5rem;
      color: var(--main-text-color);
  }
}



@media screen and (min-width: 1500px) {
    .certifications__container {
        display: flex;
        flex-direction: column;
    }
    .certifications-title__container > h1 {
        padding: 3% 10%;
        padding-top: 15rem;
        font-size: 5rem;
        color: var(--main-text-color);
    }
}
