.stacks__container {
  display: flex;

  width: 100%;


  justify-content: center;

}

.stacks-techs__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  list-style: none;

  justify-content: center;
  align-items: center;
}

.stacks-techs__container > li {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.stacks-techs__container > li > svg {
  width: 5rem;
  fill: var(--highlight-color);
  transition: 250ms;
}

.stacks-techs__container > li > svg:hover {
  fill: var(--highlight-color);
  transform: scale(1.1);
}


.stacks-techs__container > li > p {

  opacity: 0;
  margin-top: -1rem;
  color: var(--cor_texto_principal);
  background-color: rgba(128, 128, 128, 0.603);

  font-size: 1.1rem;

  padding: 0.5rem;
  border-radius: 0.5rem;

  transition: 200ms
}


.stacks-techs__container > li:hover > p{
  opacity: 1;
  transform: translateY(1.5rem);
}


@media screen and (min-width: 768px) {
  .stacks__container {
    display: flex;

    width: 100%;


    justify-content: center;
    margin-bottom: 3rem;
  }

  .stacks-techs__container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    list-style: none;

    gap: 1rem;

    justify-content: center;
    align-items: center;
  }

  .stacks-techs__container > li {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .stacks-techs__container > li > svg {
    width: 6rem;
    transition: 250ms;
  }

  .stacks-techs__container > li > svg:hover {
    fill: var(--highlight-color);
  }


  .stacks-techs__container > li > p {

    opacity: 0;
    margin-top: -1rem;
    color: var(--cor_texto_principal);
    background-color: rgba(128, 128, 128, 0.603);

    font-size: 1.1rem;

    padding: 0.5rem;
    border-radius: 0.5rem;

    transition: 200ms
  }


  .stacks-techs__container > li:hover > p{
    opacity: 1;
    transform: translateY(1rem);
  }

}


@media screen and (min-width:1024px) {
  .stacks__container {
    display: flex;

    width: 100%;
    padding-left: 0;
    padding-right: 0;

    justify-content: center;

  }

  .stacks-techs__container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    list-style: none;

    gap: 2rem;

    justify-content: center;
    align-items: center;
  }


  .stacks-techs__container > li > svg {
    width: 6.6rem;
    transition: 250ms;
  }

  .stacks-techs__container > li > svg:hover {
    fill: var(--highlight-color);
  }


  .stacks-techs__container > li > p {

    opacity: 0;
    margin-top: -0.5rem;
    color: var(--main-text-color);
    background-color: rgba(128, 128, 128, 0.603);

    font-size: 1.3rem;
    font-weight: 500;

    padding: 0.5rem;
    border-radius: 0.5rem;

    transition: 200ms
  }


  .stacks-techs__container > li:hover > p{
    opacity: 1;
    transform: translateY(1.5rem);
  }

}



@media screen and (min-width:1500px) {


  .stacks-techs__container {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    list-style: none;

    gap: 6.8rem;

    justify-content: center;
    align-items: center;
  }


  .stacks-techs__container > li > svg {
    width: 7.5rem;
    transition: 250ms;
    fill: var(--main-text-color);
  }

  .stacks-techs__container > li > svg:hover {
    fill: var(--highlight-color);
    transform: scale(1.1);
  }


}
