<div class="stacks__container">

  <div class="stacks-text-box">
    <h2>Tecnologias Dominadas</h2>
    <p>Sou especialista na criação de sistemas distribuídos robustos. Meu foco está na escalabilidade, na arquitetura
      limpa e no desenvolvimento com segurança de tipos.</p>
  </div>

  <ul class="stacks-list">
    <li class="stacks-list-item">
      <p>Python</p>
    </li>
    <li class="stacks-list-item">
      <p>FastApi</p>
    </li>
    <li class="stacks-list-item">
      <p>Java</p>
    </li>
    <li class="stacks-list-item">
      <p>Spring</p>
    </li>
    <li class="stacks-list-item">
      <p>Laravel</p>
    </li>
    <li class="stacks-list-item">
      <p>TypeScript</p>
    </li>
    <li class="stacks-list-item">
      <p>Angular</p>
    </li>
    <li class="stacks-list-item">
      <p>Sass</p>
    </li>

    <li class="stacks-list-item">
      <p>Git</p>
    </li>
    <li class="stacks-list-item">
      <p>Linux</p>
    </li>
    <li class="stacks-list-item">
      <p>Docker</p>
    </li>

  </ul>

</div>