@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/variables";

.button {
    &-link {
        @include button;
    }

    &-link-flex {
        @include button;
        width: fit-content;
        margin-top: 2rem;
        
        &:link, &:visited {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 1rem;
            
        }

        &:hover {
            & svg {
                fill: white;
            }
        }

        & svg {
            width: 2.5rem;
        }
    }

   


}