.button__container {
    display: flex;
    justify-content: center;
    
    width: 100%;
    margin-top: 2rem;
    
  }
  
  .button__container > a {
    padding: 1rem 3.0rem;
    text-decoration: none;
    color: var(--cor_texto_principal);
    background: #333333;
    border: 0.3rem solid #D5D5D5;
    border-radius: 3.0rem;
  
    font-size: 1.6rem;
  
    transition: 200ms
  }
  
  .button__container > a:hover {
  
    border: 0.3rem solid var(--cor_destaque);
  
  }

@media screen and (min-width: 768px) {
  .button__container {
    display: flex;
    justify-content: center;
    
    width: 100%;
    margin-top: 3.5rem;
    
  }
  
  .button__container > a {
    padding: 1.3rem 4.0rem;
    text-decoration: none;
    color: var(--cor_texto_principal);
    background: #333333;
    border: 0.3rem solid #D5D5D5;
    border-radius: 3.0rem;
  
    font-size: 1.9rem;
  
    transition: 200ms
  }
}
  