.title-project__container {
  display: block;
  text-align: start;

  padding-left: 10%;
  padding-right: 10%;
}

.title-project__container > h2 {
  font-weight: 700;
  font-size: 5.5rem;
  color: white;
}
