@import "../../../scss/abstracts/variables";

.footer {
    &__container {
        display: flex;
        padding: 2rem $padding-sides;
        justify-content: center;
        background-color: $color-black;
        text-align: center;
    }

    &-text {
        font-size: 1.6rem;
        color: $color-white;
    }

}