@import "../../../scss/abstracts/variables";

.footer {
    &__container {
        display: flex;
        padding: 3.5rem 10%;
        justify-content: center;
        background-color: var(--color-footer-bg);
        text-align: center;
        transition: var(--transition-theme);
    }

    &-text {
        font-size: 1.6rem;
        color: var(--color-footer-text);
        transition: var(--transition-theme);
    }

}