<div class="projects__container">
    <div class="projects-title">
        <p>Explore os</p>
        <h2>Meus Projetos</h2>
    </div>
    <div class="projects-cards" *ngFor="let project of projects;let i = index">
        <app-card-project [titleProject]="project.title" [descriptionProject]="project.description" [ImagesProject]="project.photos" [OrderProject]="project.id" [ListTechsProject]="project.techs" [WebsiteProject]="project.website" [CodeProject]="project.github"></app-card-project>
    </div>
</div>
