<div class="projects__container">
    <div class="projects-title">
        <h2>Selected Projects</h2>
        <p>A collection of architectural solutions and web products.</p>
    </div>
    <div class="projects-cards" *ngFor="let project of projects;let i = index">
        <app-card-project [titleProject]="project.title" [descriptionProject]="project.description"
            [ImagesProject]="project.photos" [OrderProject]="project.id" [ListTechsProject]="project.techs"
            [WebsiteProject]="project.website" [CodeProject]="project.github"></app-card-project>
    </div>
</div>