.contact__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7% 10%;
  gap: 5rem;
}


.contact-title__container > h1 {
  font-size: 3.3rem;
  color: var(--main-text-color);
}


.contact-links__container > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.link__container {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2rem;


}

.link__container > a {
text-decoration: none;
text-align: center;
transition: 200ms;
}

.link__container > a:hover {
transform: scale(1.05);
}

.link__container > a > svg {
width: 5rem;
fill: var(--highlight-color);

}

.link__container > a > h3 {
font-size: 1.7rem;
color: var(--main-text-color);
}


@media screen and (min-width: 768px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 7% 10%;
    gap: 5rem;
  }
  
  
  .contact-title__container > h1 {
    font-size: 3.3rem;
    color: var(--main-text-color);
  }
  
  
  .contact-links__container > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    list-style: none;
  }
  
  .link__container {
    display: flex;
    flex-direction: column;
  
    align-items: center;
    gap: 2rem;
  
  
  }
  
  .link__container > a {
  text-decoration: none;
  text-align: center;
  transition: 200ms;
  }
  
  .link__container > a:hover {
  transform: scale(1.05);
  }
  
  .link__container > a > svg {
  width: 5rem;
  fill: var(--highlight-color);
  
  }
  
  .link__container > a > h3 {
  font-size: 1.7rem;
  color: var(--main-text-color);
  }
  
}


@media screen and (min-width:1200px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 10%;
    gap: 5rem;
  }


  .contact-title__container > h1 {
    font-size: 5rem;
    color: var(--main-text-color);
  }


 .contact-links__container > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
 }

 .link__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 2rem 5rem;

 }

 .link__container > a {
  text-decoration: none;
  text-align: center;
  transition: 200ms;
 }

 .link__container > a:hover {
  transform: scale(1.05);
 }

 .link__container > a > svg {
  width: 6.5rem;
  fill: var(--highlight-color);

 }

 .link__container > a > h3 {
  font-size: 2.5rem;
  color: var(--main-text-color);
 }

}



@media screen and (min-width:1500px) {
  .contact__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 10%;
    gap: 5rem;
  }


  .contact-title__container > h1 {
    font-size: 5rem;
    color: var(--main-text-color);
  }


 .contact-links__container > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
 }

 .link__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 2rem 5rem;

 }

 .link__container > a {
  text-decoration: none;
  text-align: center;
  transition: 200ms;
 }

 .link__container > a:hover {
  transform: scale(1.05);
 }

 .link__container > a > svg {
  width: 8rem;
  fill: var(--highlight-color);

 }

 .link__container > a > h3 {
  font-size: 2.5rem;
  color: var(--main-text-color);
 }

}
