<div class="card-projects__container">

  <div class="cards__container">
    <div class="cards-project__container" *ngFor="let project of projects;let i = index" [ngClass]="{'addMarginTop': i % 2 !== 0}" >

      <a>
        <div class="card-project-information__container">
          <div class="card-project-title__container">
            <h1>{{ project.title }}</h1>
          </div>

          <div class="card-project-description__container">
            <p>{{ project.description }}</p>
          </div>

          <div class="card-project-techs__container">
            <ul>
              <li *ngFor="let tech of project.techs">
                  <img  *ngIf="tech == 'tailwindcss' || tech == 'angularjs' || tech == 'django'"   src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ tech }}/{{ tech }}-plain.svg" alt="">
                  <img *ngIf="tech != 'tailwindcss'|| tech != 'angularjs' || tech != 'django'" [class.removeTech]="tech == 'tailwindcss' || tech == 'angularjs' || tech == 'django'" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ tech }}/{{ tech }}-original.svg" alt="">
              </li>
            </ul>
          </div>
        </div>


        <figure class="card-project-photo__container">
          <img src="{{ project.photo }}" alt="">
        </figure>

        <div class="card-project-links__container">
          <app-button content="Acessar site" *ngIf="project.website !== ''"link="{{project.website}}" [isDownload]="false" [newTab]=true></app-button>
          <app-button content="Ver código fonte" link="{{project.github}}" [isDownload]="false" [newTab]=true></app-button>
        </div>
      </a>
  </div>
  </div>



  
</div>


