.contact__container {
  display: flex;
  flex-direction: column;

  padding-left: 10%;
  padding-right: 10%;

  padding-bottom: 10%;
}



.contact-links__container > ul {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  
  gap: 3rem;

  list-style: none;
  font-weight: 500;
  font-size: 2rem;

  color: var(--cor_texto_principal);
}

.contact-links__container > ul > li > a {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: var(--cor_texto_principal);
  font-weight: 500;

  align-items: center;

  gap: 0.5rem;
  transition: 250ms;
}

.contact-links__container > ul > li > a:hover {
  transform: scale(1.1);
}

.contact-links__container > ul > li > a > figure {
  display: flex;
  justify-content: center;
  background-color: var(--cor_destaque);
  padding: 2rem;

  border-radius: 50%;
}

.contact-links__container > ul > li > a > figure > svg {
  width: 3.7rem;
}

.contact-links__container > ul > li > a >  p:last-child {
  font-size: 1.5rem;
  color: var(--cor_texto_secundario);
  font-weight: 400;
}



@media screen and (min-width: 768px) {
  .contact__container {
    display: flex;
    flex-direction: column;
  
    padding-left: 10%;
    padding-right: 10%;
  
    padding-bottom: 10%;
  }
  
  
  
  .contact-links__container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    
    gap: 3rem;
  
    list-style: none;
    font-weight: 500;
    font-size: 2rem;
  
    color: var(--cor_texto_principal);
  }
  
  .contact-links__container > ul > li > a {
    display: flex;
    flex-direction: column;
  
    text-decoration: none;
    color: var(--cor_texto_principal);
    font-weight: 500;
  
    align-items: center;
  
    gap: 0.5rem;
    transition: 250ms;
  }
  
  .contact-links__container > ul > li > a:hover {
    transform: scale(1.1);
  }
  
  .contact-links__container > ul > li > a > figure {
    display: flex;
    justify-content: center;
    background-color: var(--cor_destaque);
    padding: 2rem;
  
    border-radius: 50%;
  }
  
  .contact-links__container > ul > li > a > figure > svg {
    width: 3.7rem;
  }
  
  .contact-links__container > ul > li > a >  p:last-child {
    font-size: 1.5rem;
    color: var(--cor_texto_secundario);
    font-weight: 400;
  }
}


/* NOTEBOOKS  */

@media screen and (min-width: 1024px) {

  .title__container {
    padding-left: 10%;
    padding-right: 10%;

    padding-bottom: 4rem;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
  
    padding-left: 10%;
    padding-right: 10%;

    padding-bottom: 5%;
  }
  
  .contact-links__container > ul {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    
    gap: 3rem;
  
    list-style: none;
    font-weight: 500;
    font-size: 2rem;
  
    color: var(--cor_texto_principal);
  }
  
  .contact-links__container > ul > li > a {
    display: flex;
    flex-direction: column;
  
    text-decoration: none;
    color: var(--cor_texto_principal);
    font-weight: 500;
  
    align-items: center;
  
    gap: 0.5rem;
    transition: 250ms;
  }
  
  .contact-links__container > ul > li > a:hover {
    transform: scale(1.1);
  }
  
  .contact-links__container > ul > li > a > figure {
    display: flex;
    justify-content: center;
    background-color: var(--cor_destaque);
    padding: 2rem;
  
    border-radius: 50%;
  }
  
  .contact-links__container > ul > li > a > figure > svg {
    width: 5rem;
  }
  
  .contact-links__container > ul > li > a >  p:last-child {
    font-size: 1.5rem;
    color: var(--cor_texto_secundario);
    font-weight: 400;
  }
} 


/* NOTEBOOKS */
/* 
@media screen and (min-width:91rem) and (max-width: 110rem) {

  .contact-links__container > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45rem;

    list-style: none;
    font-weight: 500;
    font-size: 2rem;

    color: white;
  }

  .contact-links__container > ul > li > a {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: white;
    font-weight: 500;

    width: 25rem;

    align-items: center;

    gap: 1.5rem;
    transition: 250ms;
  }


} */
