<div class="profile__container">
    <figure class="profile-photo">
        <img src="../../../../../assets/images/photo-dev.png" alt="">
    </figure>

    <div class="profile-about">
        <h2 class="profile-about-subtitle">Web Developer 🌐</h2>
        <h1 class="profile-about-title">Lucas Luis</h1>
        <ul class="profile-about-list">
            <li class="profile-about-list-item">💻 Desenvolvo Aplicações Web</li>
            <li class="profile-about-list-item">🎓 Graduando em Sistemas de Informação na UFPE</li>
            <li class="profile-about-list-item">💡 Interesse em Desenvolvimento Web</li>
            <li class="profile-about-list-item">🚀 Buscando novas Oportunidades de Estágio</li>
          </ul>
          <div class="profile-about-button">
            <app-button [isDownload]="true" link="/assets/Currículo Lucas Luis de Souza.pdf" content="Currículo PDF"></app-button>
          </div>
    </div>


</div>