* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

:root {
  font-size: 62.5%;
  --background-color: white;
  --main-text-color: rgb(48, 47, 47);
  --secondary-text-color: #727070;
  --highlight-color: #007CED;
}

body {

  font-family: poppins;
}
