@import "scss/base/base";
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";
@import "scss/base/typografy";


html {
  scroll-behavior: smooth;
}

body {
  background-color: #f9faff;
  overflow-x: hidden;
  zoom: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-black;
    border-radius: 2rem;
    border: 0.1rem solid $color-white
  }
}