@import "scss/base/base";
@import "scss/abstracts/variables";
@import "scss/abstracts/mixins";
@import "scss/base/typografy";


body {
    background-color: darken($color-white, 10%);
    overflow-x: hidden;
    zoom: 100%;

    &::-webkit-scrollbar {
      width: 1rem;
    }
    &::-webkit-scrollbar-track {
      background: transparent;        
    }
    &::-webkit-scrollbar-thumb {
      background-color: $color-black;    
      border-radius: 2rem;   
      border: 0.1rem solid $color-white   
    }
}

// MOBILE
@media screen and (max-width: 480px) {
  body {
    zoom: 90%;
  }
}

// NOTBOOKS
@media screen and (min-width: 1000px) and (max-width: 1580px) {
  body {
    zoom: 80%;
  }
}