@import "../../../scss/base/animations";
@import "../../../scss/abstracts/variables";

.navbar {
    &__container {
        display: flex;
        position: fixed;
        max-width: 120rem;
        width: 100%;
        justify-content: space-between;
        padding: 2rem 0;
        animation: moveInUp 1s ease-out;
        z-index: 999;
    }

    &-logo {
        font-size: 1.5rem;
        text-decoration: none;
        color: $color-black;
    }


    &-list {
        display: flex;
        gap: 3.2rem;
        list-style: none;
        background-color: rgb(0 0 0 / 0.05);
        border-radius: 9999px;
        border-width: 1px;
        border-color: rgb(255 255 255 / 0.05);
        backdrop-filter: blur(1.2rem);
        padding: 1.2rem 2.4rem;

        &-link a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: 500;
            cursor: pointer;
            padding: 1rem;
            border-radius: 5rem;
            transition: 150ms;
            color: $color-black;
        }

        &-link a:hover {
            color: $color-white;
        }
    }

    &-linkedin {
        & svg {
            width: 2rem;
            fill: $color-black;
        }
    }

    &-mobile-btn,
    &-dropdown-menu-open {
        display: none;
    }

    @media screen and (max-width: 480px) {

        &_container {
            padding: 2rem $padding-sides;
            padding-top: 0.5rem;
            position: relative;
        }

        &-logo {
            padding-top: 1rem;
        }

        &-list {
            display: none;
        }

        &-mobile-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            position: absolute;
            right: 10%;
            width: 15rem;
            border-radius: 1rem;
            padding: 1.5rem;
            background: black;
            clip-path: circle(12% at 83.5% 12.5%);
            transition: all .5s ease-in-out;

            &.active {
                clip-path: circle(75%);
                background: black;
            }

            & svg {
                width: 2rem;
                fill: white;
                margin-top: .2rem;
                margin-left: .2rem;
            }

            &-dropdown-menu-open {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                margin-top: 2rem;
                gap: 1.5rem;
                width: 100%;

                &-link {
                    display: flex;
                    justify-content: center;
                    gap: 1.5rem;

                    & a {
                        text-decoration: none;
                        color: $color-white;
                        font-weight: 500;

                        & svg {
                            width: 3rem;
                        }
                    }
                }
            }
        }



    }
}