<div class="card__container">
  <div class="card-project__container" *ngFor="let project of projects">

    <a [routerLink]="['/project', project.id]">
      <div class="card-project-title__container">
        <h1>{{ project.title }}</h1>
      </div>

      <div class="card-project-description__container">
        <p>{{ project.description }}</p>
      </div>

      <div class="card-project-techs__container">
        <ul>
          <li *ngFor="let tech of project.techs">
              <img  *ngIf="tech == 'tailwindcss' || tech == 'angularjs' || tech == 'django'"   src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ tech }}/{{ tech }}-plain.svg" alt="">
              <img *ngIf="tech != 'tailwindcss'|| tech != 'angularjs' || tech != 'django'" [class.removeTech]="tech == 'tailwindcss' || tech == 'angularjs' || tech == 'django'" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/{{ tech }}/{{ tech }}-original.svg" alt="">
          </li>
        </ul>
      </div>

      <figure class="card-project-photo__container">
        <img src="{{ project.photo }}" alt="">
      </figure>
    </a>



  </div>
</div>

